## Settings file was created by plugin LC Chaos Events v1.1.0
## Plugin GUID: s1spa.LCChaosEvents

[Difficulty]

## Складність: 1 (легко) — 3 (хаос)
# Setting type: Int32
# Default value: 2
Level = 2

[Events]

## Міни під ногами
# Setting type: Boolean
# Default value: true
Mines = true

## Турелі навколо
# Setting type: Boolean
# Default value: true
Turrets = true

## Спавн рандомного моба
# Setting type: Boolean
# Default value: true
MobSpawn = true

## Рандомна телепортація по данжу
# Setting type: Boolean
# Default value: true
TeleportDungeon = true

## Телепортація на корабель
# Setting type: Boolean
# Default value: true
TeleportShip = true

## Підміна гравців місцями
# Setting type: Boolean
# Default value: true
PlayerSwap = true

## Світіння при підйомі Apparatus
# Setting type: Boolean
# Default value: true
Glowstick = true

## Рандомний звук моба поруч
# Setting type: Boolean
# Default value: true
RandomSound = true

## Нескінченна витривалість
# Setting type: Boolean
# Default value: true
InfiniteStamina = true

## Тривалість нескінченної витривалості (секунди)
# Setting type: Single
# Default value: 10
StaminaDuration = 10

## Турелі збожеволіли
# Setting type: Boolean
# Default value: true
BerserkTurret = true

## Тривалість берсерку турелі (секунди)
# Setting type: Single
# Default value: 10
BerserkDuration = 10

## Час футболу
# Setting type: Boolean
# Default value: true
Football = true

## Тривалість футбольного режиму (секунди)
# Setting type: Single
# Default value: 30
FootballDuration = 30

## Фейкове повідомлення компанії
# Setting type: Boolean
# Default value: true
FakeMessage = true

## Зміна розміру гравця
# Setting type: Boolean
# Default value: true
SizeMatters = true

## Розмір маленького гравця (0.1 - 1.0)
# Setting type: Single
# Default value: 0.4
SizeScale = 0.4

## Висота великого гравця (1.0 - 3.0)
# Setting type: Single
# Default value: 1.8
SizeStretchScale = 1.8

## Тривалість зміни розміру (секунди)
# Setting type: Single
# Default value: 15
SizeDuration = 15

[General]

## Вмикає/вимикає мод повністю
# Setting type: Boolean
# Default value: true
Enabled = true

## Мова повідомлень: EN / UA
# Setting type: String
# Default value: EN
Language = EN

[Mines]

## Мінімальна кількість мін за евент
# Setting type: Int32
# Default value: 5
CountMin = 4

## Максимальна кількість мін за евент
# Setting type: Int32
# Default value: 10
CountMax = 8

## Мінімальний інтервал між мінами (с)
# Setting type: Single
# Default value: 1
RateMin = 1

## Максимальний інтервал між мінами (с)
# Setting type: Single
# Default value: 3
RateMax = 3

[Timing]

## Мінімальний інтервал між евентами (секунди)
# Setting type: Single
# Default value: 20
MinInterval = 40

## Максимальний інтервал між евентами (секунди)
# Setting type: Single
# Default value: 120
MaxInterval = 120

[Turrets]

## Мінімальна кількість турелей за евент
# Setting type: Int32
# Default value: 2
CountMin = 1

## Максимальна кількість турелей за евент
# Setting type: Int32
# Default value: 5
CountMax = 3

## Мінімальний інтервал між турелями (с)
# Setting type: Single
# Default value: 1
RateMin = 1

## Максимальний інтервал між турелями (с)
# Setting type: Single
# Default value: 3
RateMax = 3

