## Settings file was created by plugin AsyncLoggers v2.2.3
## Plugin GUID: mattymatty.AsyncLoggers

[ainavt.lc.lethalconfig]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[BepInExFasterLoadAssetBundlesPatcher]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[com.github.zehsteam.SellMyScrap.v40-v72]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[Console]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[Coroner]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[DunGenReferenceFixer]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[FixPluginTypesSerialization]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[GoldenKitten.FairAI]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[HookGenPatcher]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[InjectionLibrary]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[LCVR]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[LCVR.Preload]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[Lethal Progression]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[LethalFixes]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[LethalPerformance.Patcher]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[LethalSettings]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[Mattys Fixes]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[me.loaforc.soundapi]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[meow.ModelReplacementAPI]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[More Ship Upgrades]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[MoreCompany]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[OpenXR Loader]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[qwbarch.Mirage]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[RuntimeIcons]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[SellMyScrap v73+]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[soundpack.FacilityMeltdown_Mappings]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[soundpack.LethalResonance]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[soundpack.YippeeHoarderTwo]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[Splash]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[TerminalFormatter]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[TooManyEmotesScrap-1.1.0]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = All

[Unity Log]

## Allow source to write logs
# Setting type: Boolean
# Default value: true
Enabled = true

## What levels to write
# Setting type: LogLevel
# Default value: All
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = Error
